
<div class="container">
    <h3><img routerLink="/user" class="btn" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvDtoEwuV9E2kHqNDi6MnBzXlefn8TfyrwgQ&usqp=CAU" alt="user details" title="user"></h3>
</div>

<div class="container overflow-hidden">
    <div class="row gx-5">
        <div class="col">
                <div class="p-2 btn btn-success btn-lg" routerLink="/login">&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;</div>
        </div>
        <div class="col">
                <div class="p-2 btn btn-warning btn-lg" routerLink="/register">&nbsp;&nbsp;Register&nbsp;&nbsp;</div>
        </div>
    </div>
</div>

<!------------------------------------------------------------------------------------------------------------------------->
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="3000">
                        <img src="https://ii1.pepperfry.com/media/wysiwyg/banners/HB_03_070722_fm.jpg" alt="Table-Chair set" class="d-block w-100">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>First slide label</h5>
                          <p>Some representative placeholder content for the first slide.</p>
                        </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="3000">
                        <img src="https://ii3.pepperfry.com/media/wysiwyg/banners/HB_02_070722_fm.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Second slide label</h5>
                          <p>Some representative placeholder content for the second slide.</p>
                        </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="3000">
                        <img src="https://ii2.pepperfry.com/media/wysiwyg/banners/HB_01_070722_fm.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Third slide label</h5>
                          <p>Some representative placeholder content for the third slide.</p>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        
            <!-- Button trigger modal -->
            <div class="col-3">
                <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1"><img src="https://ii2.pepperfry.com/media/wysiwyg/banners/RHS_Web_280622.jpg" alt="No Cost EMI" style="width:100%;height:100%;" title="No Cost EMI"></a>
            </div>
        </div>
    </div>
  
</div><br>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content d-flex justify-content-center">
            <button type="button" class="btn-close position-absolute top-0 end-0" data-bs-dismiss="modal" aria-label="Close"></button>
            <img src="https://ii1.pepperfry.com/media/wysiwyg/banners/RHS_Web_Modal_280622.jpg" alt="No Cost EMI Page" usemap="#workmap" type="button">
        </div>
    </div>
</div>

