<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <img [routerLink]="root" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvDtoEwuV9E2kHqNDi6MnBzXlefn8TfyrwgQ&usqp=CAU" alt="" width="40" height="35" class="d-inline-block align-text-top">
      <a class="navbar-brand" [routerLink]="root">&nbsp;Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>


        <form class="d-flex">

            <div class="btn-group dropstart">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Dashboard
                </button>&nbsp;&nbsp;
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item" routerLink="/login" [disabled]="f_login" (click)="login_disable_1st()"><b>Login</b></button></li>
                  <li><button class="dropdown-item" routerLink="/register" [disabled]="f_reg">Register</button></li>
                  <li><button class="dropdown-item" routerLink="/profile">Profile</button></li>
                  <li><hr class="dropdown-divider"></li>
                  <li style="background-color:lightsalmon;">
                      <button class="dropdown-item" [disabled]="f_logout" (click)="logout()">
                          <i class='fas fa-power-off' style='font-size:17px'></i>&nbsp;
                          <b style="font-size:large;">Logout</b>
                      </button>
                  </li>
                </ul>
              </div>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>

        </form>




      </div>
    </div>
  </nav>

  
